
body {
    font-family : Helvetica, Arial, sans-serif;
    color: #ccc;
    background-color: #151515;

}

.app__header__title {
    margin: 0;
}

.app__header__subtitle {
    margin-top : 0.1%;
    margin-bottom : 0;

}


#div-mother {
    width : 100%;
}

#div-metric-menu {
    width: 100%;
    float: left;
}

#div-graphs {
    width: 100%;
    float: left;
}

#div-spec-graph {
    width: 50%;
    float: left;
}

#div-rating-graph {
    width: 50%;
    float: left;
}

#div-main-center {
    background-color: #151515;
}

#div-main-right {
    background-color: #151515;
}

#div-main-top {
    text-align : center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: #151515;
    padding-bottom : 0.5%;
    padding-top : 0.25%;
    margin-bottom : 1%;
    display : none;
    
}

#div-main-menu {
    width : 90%;
    float : left;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom:  1%;
    margin-bottom : 2%;
    background-color: #151515;

}



#div-bottom {
    display: none;
    width : 100%;
    float : left;
}

.div-metric-rating {
    /* Leave width and margins unchanged as this goes
       inside the div-metric-kpi-container */
    background-color : #151515;
    width : 40%;
    text-align : center;
    margin-left : 5%;
    margin-right : 5%;
    float : left;
    margin-top : 1%;
    margin-bottom : 1%;
    
}

.app__menu__title {
    font-size: 12pt;
    font-weight: normal;
    margin-bottom : 0.9em;
}

.app__metric__title {
    font-size : 12pt;
    margin-bottom : 0;
}

.app__metric__value {
    font-size : 26pt;
    margin-top : 0;
    margin-bottom : 0;
}

.kpi-divider {
    margin-top : 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
}

#div-metric-kpi-container {
    width : 30%;
}


#div-radio-partner {
    width : 100%;
    margin : 0 auto;
    display: flex;
}

#div-radio-bracket {

    width : 25%;
    float : left;
    margin-left : 5%;
    text-align : center;
    margin-right: 5%;
}


/* TABS */
#tab-container {
   background-color: #151515; 
}

#main-tab {
   background-color: #151515;
}    

.tabs-parent {
    background-color: #f00;
}

#div-tab-main {
   background-color: #151515;
}

#main-tab-parent {
    background-color: #151515;
}

#div-dropdown-partner {
    width : 40%;
    float : left;

}

#div-dropdown-partner1 {
    width : 45%;
    float : left;
}

#div-dropdown-partner2 {
    width : 45%;
    float : left;
}

.metric-title {
    font-weight: normal;
    size: 14pt;
		     
}

.div-metric-selection {
    margin-left: 5%;
    width : 40%;
    margin-bottom : 10px;
    float: left;
}

#div-metric-selection-2 {
    padding-left: 5%;
}


#div-class-selection-1 {
    width : 25%;
    float : left;
    padding-left: 1em;
}

#div-class-selection-2 {
    width : 25%;
    float : left;
    padding-left: 1em;
}


.div-class-selection-outer {
    width : 100%;
    margin-top : 1.5%;
}

#div-comp-menu {
    width : 100%;
    height : 15%;
    background-color : #151515;
    border-bottom : 2px solid #ccc;
}

.app__datatable {
    background-color : #151515;
}

.Select .Select-value {
  background-color: #111;
  color: #fff;
}

img[alt=classicon] {
    display: inline-block;
    margin: auto;
}

.dash-cell p {
    margin-top : 0;
    margin-bottom : 0;
}

#div-main-greet {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
