
/* Styling tabs */
.menu-tab {
    color : #ccc !important;
    background: rgba(80, 98, 140, 1.0) !important;
    border: 0 !important;
}

.tab--selected {
    border: 0 !important;
    color : #fff !important;
    background: rgba(30, 48, 80, 1.0) !important;
}

#main-tab {
    width : 50%;
}

#tab-container {    
    width: 100%;
    width : 100%;
    float : left;
}

.tabs-parent {
    color : #000;
    background-color: #0c3c53;

}

#div-tab-main {
    width : 96%;
    margin-left: 2%;
    margin-right: 2%;
}


#div-tab-content {
    width : 100%;
    float : left;
}


#div-tab-main {
    background-color : #fff;
}
