
/* Styling tabs */
.menu-tab {
    color : #000;
    background-color : #000;
}

.menu-tab--selected {
    color : #333;
    background-color : #000;
}

#main-tab {
    width : 50%;
}

#tab-container {    
    width: 100%;
    width : 100%;
    float : left;
}

.tabs-parent {
    color : #000;
    background-color: #fff;

}

#div-tab-main {
    width : 96%;
    margin-left: 2%;
    margin-right: 2%;
}


#div-tab-content {
    width : 100%;
    float : left;
}


#div-tab-main {
    background-color : #fff;
}
